name: bitcoin_core

on:
  push:
    branches:
      - master
      - dev
    paths:
      - "25/**"
      - "26/**"
      - "27/**"
      - "28/**"
      - "29/**"
      - "30/**"
      - ".github/workflows/bitcoin_core.yaml"
  workflow_dispatch:
    inputs:
      trigger:
        description: "Trigger the workflow manually"

env:
  LATEST_VERSION: "30-alpine"

jobs:
  build:
    runs-on: ubuntu-latest
    # use strategy matrix build images
    strategy:
      max-parallel: 6 # Restrict to serial execution.
      matrix:
        image:
          #- name: 25-alpine
          #  context: "./25/alpine"
          #- name: 25-debian
          #  context: "./25/debian"
          #- name: 25-ubuntu
          #  context: "./25/ubuntu"
          #- name: 25-lightninglabs-alpine
          #  context: "./25/alpine/lightninglabs"
          #- name: 26-alpine
          #  context: "./26/alpine"
          #- name: 26-debian
          #  context: "./26/debian"
          #- name: 26-ubuntu
          #  context: "./26/ubuntu"
          #- name: 26-lightninglabs-alpine
          #  context: "./26/alpine/lightninglabs"
          #- name: 27-alpine
          #  context: "./27/alpine"
          #- name: 27-debian
          #  context: "./27/debian"
          #- name: 28-alpine
          #  context: "./28/alpine"
          #- name: 28-debian
          #  context: "./28/debian"
          #- name: 28-ubuntu
          #  context: "./28/ubuntu"
          #- name: 29-alpine
          #  context: "./29/alpine"
          #- name: 29-debian
          #  context: "./29/debian"
          #- name: 29-ubuntu
          #  context: "./29/ubuntu"
          - name: 30-alpine
            context: "./30/alpine"
          - name: 30-centos
            context: "./30/centos"
          - name: 30-ubuntu
            context: "./30/ubuntu"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ${{ matrix.image.context }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.DOCKERHUB_REPO }}:${{ matrix.image.name }}
      - name: Tag and push latest
        if: matrix.image.name == env.LATEST_VERSION
        run: |
          # create latest tag & push
          echo "Creating latest tag for ${{ env.LATEST_VERSION }}"
          docker buildx imagetools create \
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.DOCKERHUB_REPO }}:${{ env.LATEST_VERSION }} \
            --tag ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.DOCKERHUB_REPO }}:latest
          echo "Latest tag created successfully"
